<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.james.materialdesign2">

    <!-- Changes for MS Band -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.microsoft.band.service.access.BIND_BAND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- <permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <uses-feature android:name="android.hardware.location.gps" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>

        <!--
             Declares a broadcast receiver as one of the application's components.
            Broadcast receivers enable applications to receive intents related to
            Tile Events, even when other components of the application are not running.
        -->
        <receiver
            android:name=".TileEventReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.microsoft.band.action.ACTION_TILE_OPENED" />
                <action android:name="com.microsoft.band.action.ACTION_TILE_BUTTON_PRESSED" />
                <action android:name="com.microsoft.band.action.ACTION_TILE_CLOSED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".NewShot"
            android:label="@string/title_activity_new_shot"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.james.materialdesign2.MainActivity" />
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyAA3Amhps_Tgr3zGPKB2XqrtZK2VrFV8rY" />
            />
        </activity>

        <service
            android:name=".DistanceAndLocationService"
            android:enabled="true"
            android:exported="false" />


        <activity
            android:name=".Auth"
            android:label="@string/title_activity_auth"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>